
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-blue: #2908e7;
}

body {
    font-family: 'Quicksand';
}

body header h1 {
    color: white;

    text-align: center;

    font-size: 1.9rem;

    padding: 20px;

}

body header {
    border-radius: 0 0 20px 20px;
    background-color: var(--bg-blue);
    height: 100;
}

body header nav {
    padding: 0 0 3rem 0;
}


body header nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 1rem 0;
}

body header nav ul li {
    margin: .2rem;
}

body header nav ul li a button{
    background-color: white;
    padding: .5rem;
    border-radius: 10px;
    border: none;
    margin: 5px;
}


body header nav ul li a button img{
    width: 40px;
    padding: .5rem;
}

body main {
    background-color: white;

    padding: 1rem;

    display: flex;
    flex-direction: column;

    min-height: 50vh;
}

body main .title {
    margin: 0 0 .5rem .2rem;
    font-size: 1.2rem;
}

body main .PhoneBook {
    display: flex;
    flex-direction: column;

}

body main .PhoneBook .contact {
    background-color: rgba(0, 0, 0, 0.05);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    

    border-radius: 10px;

    margin: 1rem 0 0 0;

}

body main .PhoneBook .contact p{
    margin: 0 0 0 .5rem;

    font-family: 'Dosis';
    font-size: 1.2rem;
}

body main .PhoneBook .contact button {
    background-color: #11063f;
    border: none;
    border-radius: 10px;
    padding: .5rem;

}

body main .PhoneBook .contact button a img{
    width: 25px;
}

body footer {
    min-height: 10vh;

    background-color: var(--bg-blue);
}
body footer h1 {
    color: white;

    text-align: center;

    font-size: 1.9rem;

    padding: 20px;

}

body footer .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body footer .info > img {
    width: 70px;
    margin: 1rem 3rem;
}

body footer .info .devs {
    display: flex;
    flex-direction: column;
    margin: 1rem 3rem;
}

body footer .info .devs p {
    margin: 0 10px 0 0;
}

body footer .info .devs .dev{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 1rem;
    margin: .4rem;
}

body footer .info .devs .dev img{
    width: 40px;
    padding: 0.5rem;
}

body footer hr {
    opacity: 0.2;
    margin: 0 .5rem;
}

body footer .copyright {
    color: white;
    text-align: center;
    padding: 0.5rem;

    font-size: 0.7rem;
}
@media (min-width: 768px) {
    body main .PhoneBook {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    body main .PhoneBook .contact {
        width: 48%;
    }
}
